@use '../mixins';

body {
  .roadmap {
    position: relative;

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background-image: url("./../../images/roadmap-background.jpg");
      background-size: cover;

      @include mixins.media-breakpoint-down(xs) {
        background-image: url("./../../images/roadmap-background-mobil.jpg");
      }
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      background-color: rgba(#000, .6);
      left: 0;
      right: 0;
      z-index: 3;
      bottom: 0;
      mix-blend-mode: multiply;
    }


    .subcontainer {
      position: relative;
      z-index: 4;
    }
  }

  @include mixins.media-breakpoint-down(lg) {
    .roadmap {
      width: 100%;
      height: auto;
      max-height: unset;
      min-height: unset;

      .subcontainer {
        padding-left: 0;
        padding-right: 0;
        height: auto;
      }
    }
  }

  @include mixins.media-breakpoint-down(sm) {
    .roadmap {
      .subcontainer {
        .roadmap-perc {
          display: flex;
          flex-direction: column;

          .roadmap-center-stats {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
          }

          .roadmap-stats {
            width: auto;
            padding-left: 30px;
            padding-right: 30px;

            h3 {
              font-size: 18px;
              text-align: center;
            }

            h4 {
              font-size: 17px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
