body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mint-container {
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tick {
  font-size: 3em;
}

@font-face {
  font-family: "SpaceColony-Bold";
  src: local("SpaceColony-Bold"),
    url(./fonts/SpaceColony/SpaceColony-SemiBold.ttf) format("truetype");
}
